.page-wrapper {
  margin-top: 20px;
  padding: 0 10px;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
}

.btn-stop-all-timers {
  background-color: #ff0000;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.table-wrapper {
  cursor: grab;
  margin: 15px 0;
}

.charts {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  overflow: hidden;
}

.chart-wrapper {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .charts {
    grid-template-columns: 1fr;
  }
}
